[Unit]
Description=Linux Guest Agent
ConditionVirtualization=xen

[Service]
ExecStartPre=/usr/sbin/xe-linux-distribution /var/cache/xe-linux-distribution
ExecStart=/usr/sbin/xe-daemon

[Install]
WantedBy=multi-user.target